<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Moja pierwsza apka</title>
</head>
<body>
    <h1>Moja pierwsza aplikacja webowa</h1>
    <input type="text" id="prompt" required>
    <button id="send">Wyślij do llm</button>
    <div id="chat"></div>
    <script>
        let history = []
        document.getElementById('send').addEventListener('click', async () => {
            let prompt = document.getElementById('prompt').value
            document.getElementById('prompt').value = ''
            document.getElementById('chat').innerHTML +=
                    `<p>user: ${prompt}</p>`

            const response = await fetch('/api/chat', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({prompt, history})
            })
            const data = await response.json()
            history = data.history

            document.getElementById('chat').innerHTML = ''
            for (let message of history) {
                document.getElementById('chat').innerHTML +=
                    `<p>${message.role}: ${message.parts[0].text}</p>`
            }
        })

    </script>

</body>
</html>